[submodule "apps/wobserver"]
	path = apps/wobserver
	url = git@github.com:shinyscorpion/wobserver.git
	branch = master
[submodule "apps/mini-hex-repo"]
	path = apps/mini-hex-repo
	url = git@github.com:wojtekmach/mini_repo.git
	branch = master
[submodule "apps/ex-doc-refined"]
	path = apps/ex-doc-refined
	url = git@github.com:shufo/ex_doc_refined.git
	branch = master
[submodule "apps/gender-detect"]
	path = apps/gender-detect
	url = git@github.com:alexfilatov/gender_detect.git
	branch = master
